/* CustomTable.scss */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-top: 25px;
  
    th,
    td {
      padding: 10px 15px;
      text-align: left;
    }
  
    thead {
      background-color: #F81521;
      color: #fff;
    }
  
    tbody {
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
  
      tr:hover {
        background-color: #ddd;
      }
    }
  }
.actual-pdf
{
  padding: 1rem;
}
.mtb-14
{
  margin-top: 14px;
  margin-bottom: 14px;
}
.btn-pdf
{
  background-color: black;
  color: white;
  border:1px solid black
}
.btn-pdf :hover
{
  background-color: black;
}
.total-pdf
{
display: flex;
justify-content: flex-end;
}
.img-logo
{
  display: flex;
  justify-content: center;
}
.btn-download
{
  display: flex;
  justify-content: flex-end;
}
.font-size-pdf
{
  font-size: 14px;

}