.two-factor-Enabled
{
    display: inline-block;
    width: 70px;
    background-color: #198754;
    color: white;
    border-radius: 12%;
    font-size: 15px;
    text-align: center;
    padding: 4px;
    margin-left: 5px;
    margin-right: 5px;
}
.two-factor-disabled
{
    display: inline-block;
    width: 70px;
    background-color: #e62323;
    color: white;
    border-radius: 12%;
    font-size: 15px;
    text-align: center;
    padding: 4px;
    margin-left: 5px;
    margin-right: 5px;

}
