.user-img {
    margin-left: 2px;
    margin-top: -65px;
}
.user-img img
{
    border-radius: 50%;
    border: 2px solid #f81527;
}
.cover-edit {
    margin-bottom: -33px;
    margin-left: -10px;
}
.mtb-4
{
    margin-top: 7rem;
    margin-bottom: 1rem;

}
.icon-custom-cover
{
    background-color: #f81527;
    color: white !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
    margin-right: 3px;
}
.icon-custom-cover-calendar
{

background-color: #084298;
    color: white !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
    margin-right: 3px;
}
.margin-bottom-0px
{
    margin-bottom: 0px !important;
}
.adjust-end
{
    justify-content: flex-end;
}