.product-catalogue {
  margin-bottom: -15px;
  z-index: 1;
  position: relative;
}
.margin-right-15px
{
  margin-right: 15px;
}
.button-tooltip
{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}