.checkotp-bg {
    background-color: #04091E;
}
.checkotp-width {
    max-width: 500px;
    width: 100%;
}
.cursor
{
    cursor: pointer;
}
.resend-otp
{
    font-size: 14px;
    color: #4343d0;
    cursor: pointer;
    margin-top: 15px;
}