.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  color: #F81521 !important;
}

.client-id-and-site-id-wrapper {
  display: grid !important;
  grid-template-columns: 50% 50%;
}