.btn-size
{
    width: 50%;
}
.margin-auto
{
    margin: auto;
    width: 50%;
}
.del-color
{
    background-color: #af0404;
}
.paypal-img
{
    border: 1px solid black;
    padding: 1px;
    border-radius: 8px;
}
.debit-card
{
    width: 155px;
    border-radius: 6px;
}