table tr th {
  padding: .7rem;
}
table tr td {
  padding: .5rem 1rem .5rem 1rem ;
}
table tr {
  border: 1px solid #DBDADE;
}
.back-btn {
  margin-left: -3px;
  margin-top: -3px;
  z-index: 1;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
  margin-top: 25px;

  th,
  td {
    padding: 10px 15px;
    text-align: left;
  }

  thead {
    background-color: #F81521;
    color: #fff;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }
  }
}