.icon-container {
    position: absolute;
    top: 41%;
    right: 31px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;
  }
  .icon-container-2 {
    position: absolute;
    top: 60%;
    right: 31px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;

  }
  