.product-card-bg {
  background-color: #F8F9FD;
  border: 1.19154px solid #C1C0C0;
  border-radius: 11.9154px;
}
.deal-box
{
  font-weight: 500;
  border: 2px solid red;
  border-radius: 16%;
}
.hr-mr
{
  margin: 8px;
}
.mtb-10
{
  margin-top: 8px;
  margin-bottom: 8px;
}
